input[type=checkbox] {
    accent-color: rgb(232, 168, 89);
  }
  
  input[type=radio] {
    accent-color: rgb(129, 189, 129);
  }
  
  input[type=range] {
    accent-color: rgb(172, 172, 208);
  }
  
  progress {
    accent-color: hsl(39, 100%, 50%);
  }
  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
   
    background-image: url('https://static.vecteezy.com/system/resources/previews/006/557/555/original/abstract-bubbles-on-a-red-background-free-vector.jpg');
                       
    height: 100%;
   
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}